[submodule "app-mobile"]
	path = app-mobile
	url = https://github.com/MarcelinB/UA_MOBILE_APP
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/MarcelinB/UA_AUTH_MS
[submodule "proxi-api"]
	path = proxi-api
	url = https://github.com/MarcelinB/UA_PROXI_API
